@model IEnumerable<BarApp.Models.Bebida>

@{
    ViewData["Title"] = "Lista de Drinks";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .grid-item {
        border: 1px solid #ccc;
        padding: 20px;
    }
</style>

<h1>Lista de Drinks</h1>

<div>
    <button id="sortName">Ordenar por Nome</button>
    <button id="sortPrice">Ordenar por Preço</button>
</div>

<div id="drinks-container" class="grid-container">
    @Html.Partial("_DrinkListPartial", Model)
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sortName').click(function () {
                sortDrinks('Nome');
            });
            $('#sortPrice').click(function () {
                sortDrinks('Preco');
            });
        });

        function sortDrinks(sortBy) {
            $.ajax({
                url: '@Url.Action("SortDrinks")',
                type: 'GET',
                data: { sortBy: sortBy },
                success: function (result) {
                    $('#drinks-container').html(result);
                },
                error: function (xhr, status, error) {
                    console.error('Erro ao carregar os dados: ', error);
                }
            });
        }
    </script>
}
