@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Alunos: Heytor Kyoshi Sato RA: 081220039 Willian Apuzzo RA: 081220038</p>

<img src="https://img.elo7.com.br/product/zoom/45A7149/caneca-meme-bolsotse-bolsonaro-comunista-canecas-engracadas.jpg" alt="Descrição da imagem">
